@use 'base/variables' as v; //hacer uso de las variables (poner la ruta ej base/variables)
@use 'base/mixins' as m; //hacer uso de mixins

.header{
    background-color: v.$verde;

    h1 {
        color: v.$blanco;
        text-align: center;
        @include m.tablet {
            margin: 0;
        }

    }

    .contenido-header{
        padding: 2rem;

        @include m.tablet {
            display: flex;
            justify-content:space-between;
            align-items: center;
        }
    }
}

.navegacion-principal{

    @include m.tablet {
        display: flex;
        gap: 2rem;
    }

    a {
        color: v.$blanco;
        display: block;
        text-align: center;
        font-size: 2.4rem;
        margin-bottom: 1rem;

        @include m.tablet {
            margin:0;
        }       
        //el caracter & elimina el espacio que por defecto deja sass entre el selector y los pseudo-elementos
        &:hover {
            color: v.$amarillo;
        }
    }
}

