@use 'base/mixins' as m;
@use 'base/variables' as v;


.video{
    position: relative;
    max-height: 60rem;
    min-height: 40rem;

    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    video{
        display: block;
        width: auto;

        @include m.desktop {
            width: 100%; 
            min-height: 50rem;   
        }
    }
}


.contenido-video{
    z-index: 1;

    h2 {
        font-size: 7rem;
        color: v.$negro;
        margin: 0;
    }

    p {
        background-color: v.$rosa;
        display: inline-block; //toma el espacio que requiere+
        padding: 1rem 2rem;
        color: v.$negro;
        font-weight: 700;
        font-size: 2rem;
        margin: 0;
    }
}